{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/cerulean/bootstrap.min.css" rel="stylesheet">
<div class="container">
    <div class="col-md-10 col-md-offset-0">
       <br><p><img src="{{ url_for('static', filename = 'OccHealth.png' ) }}" width="680" height="100" alt="EU crest"></p>
    <br>
    <br>
    <h4>Thank you for using ths portal.
    <br><br>
    Please close this tab on your browser to fully log out of the system. </h4>
    </div>

</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}