{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block content %}
<div class="container">

    <div class="col-md-12 col-md-offset-0">
       <br><img src="{{ url_for('static', filename = 'OccHealthbanner.png' ) }}" width="700" height="75" alt="EU crest">
       <hr>
    </div>

{% if hostname=='EASE'%}
request.environ username : REMOTE_USER {{session['this_user_name']}}<br><br>
{%else%}
username : Local {{session['this_user_name']}}<br><br>
{%endif%}

<strong>Sorry, your username is not recognised and you are not authorised to access this website.
</strong><br>
Please contact your line manager or BRR staff if you think this is an error.
<br><br>
Close this tab on your browser to fully log out of the system.

</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}