{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block content %}
<div class="container">
<div class="col-md-10 col-md-offset-0">
   <br><p><img src="{{ url_for('static', filename = 'OccHealthbanner.png' ) }}" width="680" height="75" alt="EU crest"></p>
<br>
<br>
  <form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <p>
        Please enter your EASE username:<br>
        {{form.uname(size=60)}}<br>
        {% for error in form.errors.uname %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>
    <br>This page is only for testing, you will normally log in through EASE using your EASE password. <br>
    <br>For testing, passwords are disabled so that any recognised EASE username will be accepted. <br><br>
    </p>
    <p><input type="submit" value="Sign In" class="btn btn-success" name='Button'></p>
</div>
</div>
</form>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}