{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block content %}

<!--<div class="container">-->
       <!--<br><img src="{ { url_for('static', filename = 'OccHealthbanner.png' ) }}" width="450" height="55" alt="EU crest">-->
       <!--<hr>-->
<nav class="navbar-light bg-faded" style="padding-left:60px; padding-right:60px;">
  <a class="navbar-brand" href="#">
    <img src="{{ url_for('static', filename = 'OccHealthbanner.png' ) }}" width="450" height="55" alt="EU crest">
  </a>
  <hr>
    <ul class="nav navbar-nav pull-right">
    <li class="nav-item active" style="border-left: solid LightGrey; border-bottom: solid DarkGrey;">
    <!--background-color: #42f4dc;">-->
      <a class="nav-link" href="/SetOptions" > Filter options </a>
    </li>
    <li class="nav-item" style="border-left: solid LightGrey; border-bottom: solid DarkGrey;">
      <a class="nav-link" href="/add_new_user">Add User</a>
    </li>
    <li class="nav-item" style="border-left: solid LightGrey; border-bottom: solid DarkGrey;">
      <a class="nav-link" href="/download">Download</a>
    </li>
    <li class="nav-item" style="border-left: solid LightGrey; border-bottom: solid DarkGrey;">
      <a class="nav-link" href="#">Clinic Organiser</a>
    </li>
    <li class="nav-item dropdown" style="border-left: solid LightGrey; border-bottom: solid DarkGrey;">
      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> Admins</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/manage_admins">Manage admins</a><br>
        <!--<a class="dropdown-item" href="#">Another action</a><br>-->
        <!--<a class="dropdown-item" href="#">Something else here</a><br>-->
      </div>
    </li>
  </ul>
  <!--<form class="form-inline float-xs-right">-->
    <!--<input class="form-control" type="text" placeholder="Search">-->
    <!--<button class="btn btn-outline-success" type="submit">Search</button>-->
  <!--</form>-->
</nav>    
</div>
<!--</div>-->

<div class="col-md-12" style="padding-left:60px; padding-right:60px;">
<!--<div class="container" style="border-left: solid LightGrey; border-right: solid LightGrey; border-top: solid LightGrey; ">-->
   <!--<div class="well" style="border-left: solid LightGrey; background-color: White;">-->
   <!--<div class="col-md-12" >-->
   <br>
      <div class="col-md-2" >
        <strong><span style="color: DarkRed;  font-size:18px; "> Registered Users </span></strong>
        <p><span style='color:Blue; font-size:11px;'>Active /</span>
        <span style='color:Brown; font-size:11px;'>Not active </span></p>
      </div>
      <div class="col-md-4" >
      <div class="well well-sm">
        <strong><span style="color: DarkRed;  font-size:18px; padding-right:10px;"> Filters: </span></strong>
        <strong><span style="color: Black;  font-size:14px; "> {{session['OptionsString']}} </span></strong>      
      </div>
      </div>
  <!--</div>-->
  <!--</div>-->
      <div class="col-sm-6" >
      {%if recs.has_next==True%}
      <div class="well well-sm pull-right" style= "height=30px; ">
            <a href={{url_for ("dashboard", mode='next_page', idd= rec) }}>Next page</a>
      </div>  
      {%endif%}
      {%if recs.has_prev==True%}
      <div class="well well-sm pull-right" style= "height=30px; ">
          <a href={{url_for ("dashboard", mode='prev_page', idd= rec) }}>Previous page</a>
      </div>
      {%endif%}
      </div>
      <!--</div>-->

            <!--{ %if idx|length<=0 %}-->
            {%set records= recs.items%}
            {%if records|length<=0 %}
                <br>No users found
            {%else%}
              <table class="table table-striped table-condensed" >
              <!--style="border-left: solid LightGrey; border-right: solid DarkGrey; border-top: solid LightGrey; "> -->
                <thead>                
                <th>Name</th>
                <th>Group</th>
                <th>Facility</th>
                <th>Last test</th>
                <!--<th>Result</th>-->
                <th>Retest</th>
                <th>  </th>
                <th>R/S/L/FF</th>
                <th>Comment</th>
                </thead>
                <tbody>
                {%for p in records%}
                <!--{ %if p.id == selected_rec.id %}-->
                <!--<tr style="border: solid LightBlue; ">-->
                <!--{ %else%}-->
                <!--{ %endif%}-->
                <tr>
                {%if p.active_status=='Yes'%}
                <!--<td><a href={ {url_for ("dashboard", mode='Person', idd=p.id) }}> <span style="color: Blue;">-->
                <td><a href={{url_for ("add_new_user", mode='Person', idd=p.id) }}> <span style="color: Blue;">
                {{p.firstname}}&nbsp{{p.lastname}} </span></a> </td>
                {%else%}
                <!--<td><a href={ {url_for ("dashboard", mode='Person', idd=p.id) }}> <span style="color: Brown;">-->
                <td><a href={{url_for ("add_new_user", mode='Person', idd=p.id) }}> <span style="color: Brown;">
                {{p.firstname}}&nbsp{{p.lastname}} </span></a> </td>
                {%endif%}
                <td> {{p.supervisor}}</td>
                <td> {{p.facility1}}
                {% if p.facility2 !='None' %}
                / {{p.facility2}}
                {% endif %}
                </td>
                {% set d1= p.last_test.split(',')[0]|replace("/20", "/") %}
                {%set d2= p.expiry_date|replace("/20", "/") %}
                <td> {{d1}}  </td>
                <td> {{d2}}  </td>
                <!--<td> { {p.last_test.split(',')[0]}}</td>-->
                <!--<td> { {p.expiry_date}}</td>-->
                {%if p.days_to_expiry ==0 %}
                    <td>-</td>
                {%elif p.days_to_expiry <0 %}
                    <td><strong><span style="color: Magenta;">Expired</td>
                        <!--<td><strong> <span style="color: Red;">{ {last_tests[p][2]}} </td>
                        <td><strong> <span style="color: Red;">Expired</strong></span> </td>-->
                {%elif p.days_to_expiry <=30 %}
                        <td><strong><span style="color: Magenta;">< 1m </td>
                {%elif p.days_to_expiry <=60 %}
                        <td><strong><span style="color: Magenta;">< 2m </td>
                {%elif p.days_to_expiry <=90 %}
                        <td><strong><span style="color: Brown;">< 3m </td>
                {%elif p.days_to_expiry >90 %}
                        <td><strong><span style="color: Green;">> 3m </td>
                {%endif%}

                {%set ss='' %}
                {%if 'Y' in p.restrictions%}
                {%set ss= ss+'R ' %}
                {%endif%}
                {%if 'Y' in p.skin and 'Y' in p.lung%}
                {%set ss= ss+'S L' %}
                <!--<td><strong><span style="color: Red;background-color:White;">S L</span></strong> -->
                {%elif 'Y' in p.skin and 'N' in p.lung%}
                {%set ss= ss+'S' %}
                <!--<td><strong><span style="color: Red;background-color:White;">S</span></strong> -->
                {%elif 'N' in p.skin and 'Y' in p.lung%}
                {%set ss= ss+'L' %}
                <!--<td><strong><span style="color: Red;background-color:White;">L</span></strong> -->
                {%endif%}
                {%if ss|length >0 %}
                <td><strong><span style="color: Red;background-color:White;">{{ss}}</span></strong> 
                {%else%}
                <td>- 
                {%endif%}
                {%if 'Y' in p.facefit%}
                <strong><span style="color: Red;background-color:White;"> FF</span></strong> </td>
                {%else%}
                </td> 
                {%endif%}
                <td>{{p.comment}}</td>
                </tr>
                {%endfor%}
                </tbody>
              </table>
            {%endif%} 
    </div>
    </div>


    </div>
    </div>
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}